body{
    margin: 0;
    padding: 0;
}
nav{
    padding-left: 30%;
    background-color: black;
    display: flex
}
nav ul button a{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 1s;

}
.protect1{
  margin-bottom: 40px;
  width: 33%;
}
.market{
display: flex;
    height: 100px;
    width: 500px;
    margin-bottom: 300px;
}
img{
    width: 60px;
    margin: 20px;
}

